{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container min-vh-75 d-flex align-items-center justify-content-center py-5">
    <div class="row w-100 justify-content-center">
        <div class="col-md-8 col-lg-5">
            <div class="card shadow border-1 rounded-0">
                <div class="card-body p-4">
                    <h3 class="card-title mb-3 text-center">{% trans "Sign In" %}</h3>
                    <p class="text-center text-muted">
                        {% blocktrans %}
                        Welcome back to HotSpot! Please log in. <br>
                        If you have not created an account yet, then
                        <a class="link" href="{{ signup_url }}">sign up</a> first.
                        {% endblocktrans %}
                    </p>
                    <form class="login" id="login_form" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                <div>{{ field }}</div>
                                {% if field.help_text %}
                                    <div class="form-text">{{ field.help_text }}</div>
                                {% endif %}
                                {% for error in field.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="d-grid gap-2 mt-4">
                            <button class="btn btn-primary btn-lg rounded-0" type="submit">{% trans "Sign In" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}

