{% extends "base.html" %}
{% load static %}
{% load batch %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-xl mt-4">
    <h1 class="text-center mt-md-4">Welcome to HotSpot</h1>
    <p class="text-center">Your one-stop shop for all things spicy!</p>
    <div class="hero-image text-center mb-4">
        <img src="{% static 'images/sauce-hero.jpg' %}" alt="Hero Sauce" class="img-fluid shadow">
    </div>

    <!-- Featured Products Carousel -->
    <div class="col-12 mt-3 left">
        <h2 class="text-center">Latest Products</h2>
        <div id="productCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <div class="carousel-inner">

                {% for group in product_list|slice:":8"|batch:4 %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row">
                        {% for product in group %}
                        <div class="col-md-3 col-sm-6">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <a href="{% url 'product_detail' product.slug %}" class="product-link text-decoration-none">
                                        <div class="image-container d-flex justify-content-center">
                                            {% if "placeholder" in product.image.url %}
                                            <img class="card-img-top" src="{% static 'images/hot_sauce_bottle.jpg' %}" alt="placeholder image">
                                            {% else %}
                                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
                                            {% endif %}
                                        </div>
                                        <h3 class="card-text h5">{{ product.name }}</h3>
                                        <p class="card-text">£ {{ product.price }}</p>
                                    </a>
                                    {% if product.rating %}
                                    <p class="card-text text-muted h6 mx-auto">Rated {{ product.rating }}</p>
                                    {% else %}
                                    <p class="card-text text-muted h6">No rating yet</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
<p class="m-0 text-center">Copyright 2025 Homepage</p>
{% endblock %}