{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}


<!--Products container-->

<div class="container-lg my-1 d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 mt-md-4 d-flex justify-content-center">
            <div class="position-relative image-container my-1">
                {% if product.image %}
                    {% if "placeholder" in product.image.url %}
                    <img class="product-image img-fluid border-0" src="{% static 'images/hot_sauce_bottle.jpg' %}"
                        alt="placeholder image">
                    {% else %}
                    <a href="{{ product.image.url }}" target="_blank">
                    <img class="product-image img-fluid border-0" src=" {{ product.image.url }}"
                        alt="{{ product.title }}">
                    </a>
                    {% endif %}
                
                <!-- Add/remove from favorites link -->
                <a class="favorite-link btn-like" href="#">
                    {% if favorite %}
                    <i class="fas fa-heart" aria-label="Remove from favorites"></i>
                    {% else %}
                    <i class="far fa-heart" aria-label="Add to favorites"></i>
                    {% endif %}
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="#" alt="{{ product.name }}">
                </a>

                <!-- Add/remove from favorites link -->
                {% if request.user.is_authenticated %}
                <a class="favorite-link btn-like" href="#">
                    {% if favorite %}
                    <i class="fas fa-heart"></i>
                    {% else %}
                    <i class="far fa-heart"></i>
                    {% endif %}
                </a>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 ms-md-4 mt-md-4">
            <div class="product-details-container mb-5 mt-md-4">
                <p class="h2">{{ product.name }}</p>
                <p class="lead h2">By {{ product.brand }}</p>
                <p class="text-left h3">£{{ product.price }}</p>
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star me-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                <small class="ms-3">
                    <a href="{% url 'product_edit' product.slug %}" class="update-link link-dark">Edit</a>
                    <!-- | <a href="#" class="remove-item btn-like float-right" id="remove_{{ product.id }}">Delete</a> -->
                </small>
                {% endif %}
                <p class="mt-3 h5"><strong>Description</strong>
                <p>{{ product.description }}</p>
                <hr>
                <p class="mt-3"><strong>Ingredients:</strong> {{ product.ingredients }}</p>
                <!-- Flavour Profile Expandable Box -->
                <div class="accordion my-3" id="flavourProfileAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flavourProfileHeading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flavourProfileCollapse" aria-expanded="false" aria-controls="flavourProfileCollapse">
                                Flavour Profile
                            </button>
                        </h2>
                        <div id="flavourProfileCollapse" class="accordion-collapse collapse" aria-labelledby="flavourProfileHeading" data-bs-parent="#flavourProfileAccordion">
                            <div class="accordion-body">
                                {% if product.flavours %}
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Heat</th>
                                            <td>{{ product.flavours.heat }}/10</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Fruity</th>
                                            <td>{{ product.flavours.fruit }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Garlic</th>
                                            <td>{{ product.flavours.garlic }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Sweet</th>
                                            <td>{{ product.flavours.sweet }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Smoke</th>
                                            <td>{{ product.flavours.smoke }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Salt</th>
                                            <td>{{ product.flavours.salt }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Vinegar</th>
                                            <td>{{ product.flavours.vinegar }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% else %}
                                <p>No flavour profile available for this product.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-lg">
    <!-- Displaying count of reviews -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ review_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying reviews -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Reviews</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each review in reviews -->
                {% for review in reviews %}
                <div class="p-2 comments
                    {% if not review.approved and review.author == user %}
                    faded{% elif not review.approved %} d-none{% endif %}">
                    <p class="fw-bold">
                        {{ review.author }} wrote
                        <span class="fw-normal">
                            on {{ review.created_on|date:"F j, Y" }}:
                        </span> 
                    </p>
                    <div id="review{{ review.id }}">
                        <span class="fw-semibold">Rating:</span>
                        <span id="review{{ review.id }}_rating">{{ review.rating }}</span> / 5<br>
                        <span class="fw-semibold">Comment:</span> 
                        <span id="review{{ review.id }}_comment">{{ review.comment | linebreaks }}</span>
                    </div>
                    {% if not review.approved and review.author == user %}
                    <p class="approval">
                        This review is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and review.author == user %}
                    <button class="btn btn-delete" data-review_id="{{ review.id }}">Delete</button>
                    <button class="btn btn-edit" data-review_id="{{ review.id }}">Edit</button>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <!-- Creating New reviews -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a review:</h3>
                <p>producting as: {{ user.username }}</p>
                <form id="reviewForm" method="post" style="margin-top: 1.3em;">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-edit btn-lg">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a review</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete review?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your review?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}