{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--Products container-->

<div class="container-lg my-1 d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
            <div class="position-relative image-container my-1">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    {% if "placeholder" in product.image.url %}
                    <img class="product-image img-fluid border" src="{% static 'images/hot_sauce_bottle.jpg' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="product-image img-fluid border" src=" {{ product.image.url }}"
                        alt="{{ product.title }}">
                    {% endif %}
                </a>

                <!-- Add/remove from favorites link -->
                <a class="favorite-link link-blue" href="#">
                    {% if favorite %}
                    <i class="fas fa-heart" aria-label="Remove from favorites"></i>
                    {% else %}
                    <i class="far fa-heart" aria-label="Add to favorites"></i>
                    {% endif %}
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="#" alt="{{ product.name }}">
                </a>

                <!-- Add/remove from favorites link -->
                {% if request.user.is_authenticated %}
                <a class="favorite-link link-blue" href="#">
                    {% if favorite %}
                    <i class="fas fa-heart"></i>
                    {% else %}
                    <i class="far fa-heart"></i>
                    {% endif %}
                </a>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 ms-md-4">
            <div class="product-details-container mb-5 mt-md-4">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left text-left c--light-blue">£{{ product.price }}</p>
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star me-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                <small class="ms-3">
                    <a href="#" class="update-link link-dark">Edit</a> |
                    <a href="#" class="remove-item link-blue float-right"
                        id="remove_{{ item.item_id }}">Delete</a>
                </small>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}