{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- product title goes in these h1 tags -->
                <h1 class="product-title">{{ product.name }}</h1>
                <!-- product author goes before the | the product's created date goes after -->
                <p class="product-subtitle">{{ product.brand }} | {{ product.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in product.image.url %}
                <img src="{% static 'images/hot_sauce_bottle.jpg' %}" class="scale" alt="placeholder image">
                {% else %}
                <img src="{{ product.image.url }}" class="scale" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The product content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <article class="card-text">
                    {{ product.description | safe }}
                </article>

            </div>
        </div>
    </div>


{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}